.h5p-colorscheme {
  --MV-white: #ffffff;
  --MV-black: #000000;
  --MV-light-teal: #2f8d98;
  --MV-dark-teal: #115e63;
  --MV-deep-teal: #093c44;
  --MV-green: #b5cd34;
  --MV-orange: #f7941e;
  --MV-light-gray: #6d6e71;
  --MV-dark-gray: #414042;
}

body {
	color: var(--MV-black);
	background-color: var(--MV-white);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	margin-left: 12px;
	margin-right: 12px;
}

.container {
  width: 100%;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

.flex-item {
  max-width: 25%;
  margin-right: 10px;
  margin-top: 20px;
  border: 1px solid var(--MV-black);
}

.main-title {
  font-size: 14px;
  font-weight: bold;
  color: var(--MV-white);
  background-color: var(--MV-dark-teal);
  border: 1px solid var(--MV-dark-teal);
  border-radius: 6px;
  padding-left: 6px;
  margin-bottom: 10px;
}

.entry-title {
  color: var(--MV-white);
  background-color: var(--MV-dark-teal);
  padding-left: 3px;
}

.thumbnail {
  max-width: 100%;
}

.end-title {
  margin-top: 10px;
}